body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CCFFCC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}